<!DOCTYPE html>
<html>
	<head>
		<#include "/common/layout.css.html">
		<link href="${ctx}/static/css/blog/about.css" rel="stylesheet" />
	</head>
	<body>
		<!-- 顶部导航 -->
		<#include "/common/layout.nav.top.html">

		<div class="blog-body">
			<div class="layui-container">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-xs12">
						<blockquote class="layui-elem-quote sitemap shadow" style="margin-bottom:0px;">
							<i class="layui-icon">&#xe715;</i>
							<span class="layui-breadcrumb" lay-separator=">">
                    <a href="/">首页</a>
                    <a><cite>关于本站</cite></a>
                </span>
						</blockquote>
					</div>
					<div class="layui-col-xs12">
						<ul class="blog-nav-follow">
							<li class="current">
								<a href="#author">关于作者</a>
							</li>
							<li>
								<a href="#site">关于网站</a>
							</li>
							<li>
								<a href="#friend">友情链接</a>
							</li>
							<li>
								<a href="#reward">小额赞赏</a>
							</li>
						</ul>
						<div class="blog-about-container">
							<span id="author" class="anchor"></span>
							<div class="section">
								<div class="section-title">
									<span class="layui-badge">关于作者</span>
								</div>
								<div class="section-content">
									<div class="author-bg">
										<div class="bg-box">
											<img class="bg" src="${about.pBack}" />
											<div class="mask"></div>
										</div>
										<div class="author-intro">
											<img src="${about.pHead}" alt="${about.pName}" />
											<h2>${about.pName}</h2>
											<h4>${about.pSign}</h4>
										</div>
									</div>
									<div class="text-content">
										<p>${about.pDesc}</p>
										<p style="text-align:right;padding-right:5px;font-size:24px;font-family:Cambria">—— By ${about.pName}</p>
									</div>
								</div>
							</div>
							<span id="site" class="anchor"></span>
							<div class="section">
								<div class="section-title">
									<span class="layui-badge">关于网站</span>
								</div>
								<div class="section-content">
									<div class="author-bg">
										<div class="bg-box">
											<img class="bg" src="${about.wBack}" />
											<div class="mask"></div>
										</div>
										<div class="author-intro">
											<img src="${about.wHead}" alt="${about.wName}" />
											<h2>${about.wName}</h2>
											<h4>${about.wSign}</h4>
										</div>
									</div>
									<div class="text-content">
										<p>${about.wDesc}</p>
									</div>
								</div>
							</div>
							<span id="friend" class="anchor"></span>
							<div class="section">
								<div class="section-title">
									<span class="layui-badge">友情链接</span>
								</div>
								<div class="section-content">
									<div class="author-bg">
										<div class="bg-box">
											<img class="bg" src="${about.lBack}" />
											<div class="mask"></div>
										</div>
										<div class="author-intro">
											<img src="${about.lHead}" alt="${about.lName}" />
											<h2>${about.lName}</h2>
											<h4>
												<#list about.lSign?split(",") as sl>
													<i class="fa <#if (sl?substring(0,1)==0)>fa-close<#else>fa-check</#if>"></i>${sl?substring(1,5)}&nbsp;
												</#list>
											</h4>
										</div>
									</div>
									<div class="layui-row layui-col-space15" style="margin-top:5px;">
										<#list lBody as lb>
											<div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
												<a href="https://${lb.link}" target="_blank" class="friendlink-item">
													<img src="${lb.logo}" alt="${lb.name}" />
													<h2>${lb.name}</h2>
													<p>${lb.link}</p>
												</a>
											</div>
										</#list>
									</div>
								</div>
							</div>
							<span id="reward" class="anchor"></span>
							<div class="section">
								<div class="section-title">
									<span class="layui-badge">小额赞赏</span>
								</div>
								<div class="section-content">
									<div class="author-bg">
										<div class="bg-box">
											<img class="bg" src="${about.mBack}" />
											<div class="mask"></div>
										</div>
										<div class="author-intro">
											<img src="${about.mHead}" alt="${about.mName}" />
											<h2>${about.mName}</h2>
											<h4>${about.mSign}</h4>
										</div>
									</div>
									<div class="layui-row layui-col-space30" style="text-align:center;margin-top:5px">
										<div class="layui-col-sm6">
											<img style="width:300px;" src="${about.mWechatCode}">
											<p style="margin-top:10px;color:#FF5722;font-size:18px;">微信打赏</p>
										</div>
										<div class="layui-col-sm6">
											<img style="width:300px;" src="${about.mAlibabaCode}">
											<p style="margin-top:10px;color:#FF5722;font-size:18px;">支付宝打赏</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<#include "/common/layout.footer.html">
		<!-- 侧边栏导航 -->
		<#include "/common/layout.nav.left.html">
		<!-- 遮罩层 -->
		<#include "/common/layout.mask.html">

	</body>

	<!-- js -->
	<#include "/common/layout.js.html">
	<script>
		$(".blog-nav-list").find("a[href$='about']").parent("li").addClass("layui-this");

        layui.use(['jquery'], function () {
            var $ = layui.$;

            $('.blog-nav-follow').onePageNav({
                scrollThreshold: 0.1
            });

            $(window).scroll(function () {
                if ($(window).scrollTop() > 65) {
                    $('.blog-nav').addClass('layui-hide');
                } else {
                    $('.blog-nav').removeClass('layui-hide');
                }
                if ($(window).scrollTop() > 65) {
                    $('.blog-nav-follow').addClass('fixed');
                } else {
                    $('.blog-nav-follow').removeClass('fixed');
                }
            });
        });
	</script>

</html>