<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyxs.mapper.system.SysRoleMapper">
	
	<select id="selectRoleByUserId" resultType="SysRole">
		SELECT
			r.* 
		FROM
			sys_role r,
			sys_user_role_rel ur,
			sys_user u 
		WHERE
			r.id = ur.role_id 
			AND ur.user_id = u.id
			AND u.id = #{userId}
	</select>
	
	<select id="deleteMenuIdByRoleId">
		delete
		from
			sys_role_menu_rel
		where
			role_id = #{roleId}
	</select>
	
	<select id="batchInsterRoleMenu">
		insert 
		into
			sys_role_menu_rel
		( id,role_id,menu_id )
		values 
		<foreach collection="menuIds" index="index" item="menuId" open="" separator="," close="">
       		( replace(uuid(),'-','') , #{roleId} , #{menuId} )
     	</foreach>
	</select>
	
	<select id="insterRoleMenu">
		insert 
		into
			sys_role_menu_rel
		( id,role_id,menu_id )
		values 
       	( replace(uuid(),'-','') , #{roleId} , #{menuId} )
	</select>
	
</mapper>
