<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyxs.mapper.blog.ArticleMapper">

	<insert id="BatchSaveUserRoleRel" parameterType="list">
        insert into blog_article_tag_rel (id, article_id, tag_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.articleId},#{item.tagId})
        </foreach>
    </insert>
    
    <delete id="deleteArticleTagRelByArticleId" parameterType="string">
        delete from blog_article_tag_rel where article_id = #{articleId}
    </delete>

    <update id="changeSomeStatus">
        update blog_article set ${key} = #{val} where id = #{id}
    </update>


    <!-- API -->
    <select id="selectArticleTopList" resultType="com.whyxs.common.bean.entity.BlogArticle">
        SELECT
            a.*,
            s.subject_name
        FROM
            blog_article a,
            blog_subject s
        WHERE
            a.top = 1
            AND a.SUBJECT = s.id
        ORDER BY
            a.create_time DESC
        LIMIT 8
    </select>

    <select id="selectPageCustom" parameterType="map" resultType="com.whyxs.common.bean.entity.BlogArticle">
        SELECT
            a.*,
            s.subject_name
        FROM
            blog_article a,
            blog_subject s
        WHERE
            a.SUBJECT = s.id
        <if test="condition != null">
            <!-- 分类查询 -->
            <if test="condition.subject != null and condition.subject.size() > 0">
                AND a.SUBJECT IN
                <foreach collection="condition.subject" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 标签查询 -->
            <if test="condition.tag != null and condition.tag.size() > 0">
                and EXISTS (
                    select r.article_id from blog_article_tag_rel r where r.article_id = a.id and r.tag_id in
                    <foreach collection="condition.tag" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                )
            </if>
        </if>
        ORDER BY
            a.create_time DESC
    </select>

    <select id="selectArticleRecord" resultType="map">
        SELECT
            DATE_FORMAT( create_time, '%Y%m' ) id,
            DATE_FORMAT( create_time, '%Y年%m月' ) date,
            concat('[',group_concat( concat_ws(',',concat('{\"id\":\"',id,'\",\"title\":\"',title,'\",\"createTime\":\"',DATE_FORMAT( create_time, '%m月%d日' ),'\"}')) separator ',' ),']') articles
        FROM
            blog_article
        WHERE
            STATUS = 1
        GROUP BY
            DATE_FORMAT( create_time, '%Y-%m' )
        ORDER BY DATE_FORMAT( create_time, '%Y-%m' ) desc
    </select>


    <select id="selectByIdCustom" parameterType="string" resultType="BlogArticle">
        SELECT
            a.*,
            s.subject_name
        FROM
            blog_article a,
            blog_subject s
        WHERE
            a.SUBJECT = s.id
        AND A.id = #{id}
    </select>


</mapper>
