<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyxs.mapper.blog.ArticleMapper">

	<insert id="BatchSaveUserRoleRel" parameterType="list">
        insert into blog_article_tag_rel (id, article_id, tag_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.articleId},#{item.tagId})
        </foreach>
    </insert>
    
    <delete id="deleteArticleTagRelByArticleId" parameterType="string">
        delete from blog_article_tag_rel where article_id = #{articleId}
    </delete>

    <update id="changeSomeStatus">
        update blog_article set ${key} = #{val} where id = #{id}
    </update>


    <!-- API -->
    <select id="selectArticleTopList" resultType="BlogArticle">
        SELECT
            a.*,
            s.subject_name
        FROM
            blog_article a,
            blog_subject s
        WHERE
            a.top = 1
            AND a.SUBJECT = s.id
        ORDER BY
            a.create_time DESC
        LIMIT 8
    </select>

    <select id="selectPageCustom" resultType="BlogArticle">
        SELECT
            a.*,
            s.subject_name
        FROM
            blog_article a,
            blog_subject s
        WHERE
            a.SUBJECT = s.id
        ORDER BY
            a.create_time DESC
    </select>


</mapper>
