<!DOCTYPE html>
<html>
	<head>
		<#include "/common/layout.css.html">
		<link href="${ctx}/static/css/blog/comment.css" rel="stylesheet" />
	</head>
	<body>
		<!-- 顶部导航 -->
		<#include "/common/layout.nav.top.html">
		<div class="com.whyxs.controller.blog-body">
			<div class="layui-container">
				<blockquote class="layui-elem-quote sitemap shadow">
					<i class="layui-icon"></i>
					<span class="layui-breadcrumb" lay-separator=">">
						<a href="/">首页</a>
						<a><cite>留言交流</cite></a>
        			</span>
				</blockquote>
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md8">
						<div class="layui-row layui-col-space10">
							<div class="layui-col-md12">
								<div class="topdiv">
									<div class="topdiv-figure">
										<img src="${ctx}/static/images/messagewall.png" />
									</div>
									<p class="topdiv-nickname">给我留言</p>
									<p class="topdiv-introduce">可留言、可吐槽、可提问。欢迎灌水，杜绝广告！</p>
								</div>
							</div>
							<div class="layui-col-md12">
								<div class="comment-editor sr-bottom">
									<form class="layui-form layui-form-pane com.whyxs.controller.blog-editor">
										<div class="layui-form-item">
											<textarea name="content" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
										</div>
										<div class="layui-form-item">
											<button class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="formComment">提交留言</button>
										</div>
									</form>
								</div>
							</div>
							<div class="layui-col-md12">
								<div class="layui-row layui-col-space8 commentlist">
									<div class="layui-col-md12">
										<div class="emptybox">
											<p><i style="font-size:50px;color:#5fb878" class="layui-icon">&#xe705;</i></p>
											<p>暂无留言，大侠不妨来一发？</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-md4">
						<div class="layui-col-sm6 layui-col-md12">
							<div class="advertisement com.whyxs.controller.blog-card shadow">
								<div class="ad-box">
									<p><i style="font-size:50px;color:#5fb878" class="layui-icon">&#xe64a;</i></p>
									<p>广告区域</p>
								</div>
							</div>
							<div class="advertisement com.whyxs.controller.blog-card shadow sr-rightmodule">
								<div class="ad-box">
									<p><i style="font-size:50px;color:#5fb878" class="layui-icon">&#xe64a;</i></p>
									<p>广告区域</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script id="commentTpl" type="text/html">
				{{# layui.each(d, function(index, item){ }}
				<div class="layui-col-md12">
					<div class="comment-item sr-bottom byflow">
						<div class="comment-item-left">
							<div class="useravator" title="神秘游客">
								<img src="${ctx}/static/images/cat-head.jpg" alt="神秘游客" />
							</div>
						</div>
						<div class="comment-item-right">
							<div class="content">
								{{ item.content }}
							</div>
							<p class="createtime">— 来自<span style="padding:0 3px;padding-right:10px;color:#0094ff">神秘游客</span>{{ layui.util.timeAgo(item.createTime, false) }}</p>
						</div>
					</div>
				</div>
				{{# }); }}
			</script>
		</div>
		<!-- footer -->
		<#include "/common/layout.footer.html">
		<!-- 侧边栏导航 -->
		<#include "/common/layout.nav.left.html">
		<!-- 遮罩层 -->
		<#include "/common/layout.mask.html">

	</body>

	<!-- js -->
	<#include "/common/layout.js.html">
	<script>
        $(".com.whyxs.controller.blog-nav-list").find("a[href$='comment']").parent("li").addClass("layui-this");

        layui.use(['layedit', 'form', 'util', 'flow', 'laytpl','jquery','layedit'], function () {
            var form = layui.form;
            var $ = layui.jquery;
            var flow = layui.flow;
            var laytpl = layui.laytpl;
            var layedit = layui.layedit;
            var editIndex = layedit.build('remarkEditor', {
                height: 150,
                tool: ['face', '|', 'left', 'center', 'right', '|', 'link'],
            });

            //流加载
            flow.load({
                elem: '.commentlist',
                isAuto: true,
                end: '没有更多了',
                mb: 200,
                done: function (page, next) { //到达临界点（默认滚动触发），触发下一页
                    var pages, pageSize = 5;
                    var lis = [];
                    var param = {current:page,size:pageSize};
                    $.ajax({
                        type: 'get',
                        url: 'comment/page',
                        data: {param:JSON.stringify(param)},
                        success: function (res) {
                            res = JSON.parse(res);
                            if (res.code === 200) {
                                if(res.data.records.length > 0){
									$('.emptybox').parent().remove();
									laytpl(commentTpl.innerHTML).render(res.data.records, function (html) {lis.push(html);});
									pages = res.data.pages;
									next(lis.join(''), page < pages);

									//绑定事件
									sr.reveal('.sr-bottom', {scale: 1, opacity: .1, distance: '60px', duration: 1000});
								}
                            } else {
                                this.error();
                            }
                        },
                        error: function (e) {
                            layer.msg('获取数据失败', { icon: 2, shift: 6 });
                        }
                    });
                }
            });

            //监听留言提交
            form.on('submit(formComment)', function (data) {
                var loading = layer.load(1);
                data.field.content = layedit.getContent(editIndex);
                $.ajax({
                    type: 'post',
                    url: 'comment/add',
                    data: {param:JSON.stringify(data.field)},
                    success: function (res) {
                        res = JSON.parse(res);
                        layer.close(loading);
                        if (res.code === 200) {
                            layer.msg("留言发表成功", { icon: 6 });
                            var tpl = commentTpl.innerHTML;
                            laytpl(tpl).render([data.field], function (html) {$('.commentlist').prepend(html);});
                            //重置编辑器
                            $('#remarkEditor').val('');
                            $('.com.whyxs.controller.blog-editor .layui-layedit').remove();
                            editIndex = layedit.build('remarkEditor', {
                                height: 150,
                                tool: ['face', '|', 'left', 'center', 'right', '|', 'link'],
                            });
                        } else {
                            this.error();
                        }
                    },
                    error: function (e) {
                        layer.close(loading);
                        layer.msg('程序异常，请重试或联系作者', { icon: 5 });
                    }
                });
                return false;
            });

            //自定义验证规则
            form.verify({
                content: function (value) {
                    value = layedit.getContent(editIndex);
                    if (value == ""){
                        return "至少得有一个字吧";
                    }
                }
            });

        });
	</script>

</html>