<!DOCTYPE html>
<html>

	<head>
		<#include "/common/layout.css.html">
		<link href="${ctx}/static\plugin\zplay\css\stylesheets\style.css" rel="stylesheet">
		<link href="${ctx}/static\plugin\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet">
	</head>

	<body>
		<!-- 顶部导航 -->
		<#include "/common/layout.nav.top.html">
		<div class="com.whyxs.controller.blog-body">
			<div class="layui-container">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-xs12">
						<blockquote class="layui-elem-quote sitemap shadow" style="margin-bottom:0px;">
                            <i class="layui-icon"></i>
							<span class="layui-breadcrumb" lay-separator=">">
								<a href="/">首页</a>
								<a><cite>音乐驿站</cite></a>
							</span>
						</blockquote>
					</div>
					<div class="layui-col-xs12">
						<div class="music-content">
							<div class="bo">
								<div class="container maxsize" style="height: 700px;">
									<center class="bo1">
										<div id="player">
											<div class="cover"></div>
											<div class="ctrl">
												<div class="tag"> <strong>Title</strong> <span class="artist">Artist</span> <span class="album">Album</span> </div>
												<div class="control">
													<div class="left">
														<div class="rewind icon"></div>
														<div class="playback icon"></div>
														<div class="fastforward icon"></div>
													</div>
													<div class="volume right">
														<div class="mute icon left"></div>
														<div class="slider left">
															<div class="pace"></div>
														</div>
													</div>
												</div>
												<div class="progress">
													<div class="slider">
														<div class="loaded"></div>
														<div class="pace"></div>
													</div>
													<div class="timer left">0:00</div>
													<div class="right">
														<div class="repeat icon"></div>
														<div class="shuffle icon"></div>
													</div>
												</div>
											</div>
										</div>
										<ul id="playlist" class="uicss-cn">
											<span style="width: 100%;height: 7px;display: block;"></span>
										</ul>
									</center>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- footer -->
		<#include "/common/layout.footer.html">
		<!-- 侧边栏导航 -->
		<#include "/common/layout.nav.left.html">
		<!-- 遮罩层 -->
		<#include "/common/layout.mask.html">

	</body>

	<!-- js -->
	<#include "/common/layout.js.html">
	<script src="${ctx}/static\plugin\zplay\js\jquery-ui-1.8.17.custom.min.js"></script>
	<script src="${ctx}/static\plugin\zplay\js\script.js"></script>
	<script>
		$(".com.whyxs.controller.blog-nav-list").find("a[href$='music']").parent("li").addClass("layui-this");
	</script>

</html>